Repository wowsims/sod, pull requests merged in 2024-03, with the labels that each got.

#348 Expose Armor cast by rogue modified by combo points
  sim/rogue/expose_armor.go
Labels: Rogue

#344 Warrior stuff
  proto/rogue.proto
  sim/core/racials.go
  sim/core/rage.go
  sim/core/spell_result.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/dark_pact.go
  sim/warrior/deep_wounds.go
  sim/warrior/dps/TestArms.results
  sim/warrior/quick_strike.go
  sim/warrior/rend.go
  sim/warrior/slam.go
  sim/warrior/stances.go
Labels: Warrior

#362 Paladin updated to reflect 05/03 buffs
  sim/paladin/retribution/TestShockadin.results
  sim/paladin/som.go
  ui/retribution_paladin/presets.ts
  ui/retribution_paladin/sim.ts
Labels: Paladin

#389 Mage: Update Fire/FFB setups
  .prettierignore
  .prettierrc.js
  .vscode/settings.json
  sim/mage/TestArcane.results
  sim/mage/TestFire.results
  sim/mage/TestFrostFire.results
  sim/mage/living_flame.go
  sim/mage/mage_test.go
  ui/index.html
  ui/mage/apls/p2_fire.apl.json
  ui/mage/gear_sets/p2_frostfire.gear.json
  ui/mage/presets.ts
  ui/mage/sim.ts
Labels: Mage

#435 Rogue tank sim UI
  sim/core/avoid_dr.go
  sim/core/base_stats.go
  sim/core/character.go
  sim/register_all.go
  sim/rogue/rogue.go
  sim/rogue/tank_rogue/tank_rogue.go
  ui/core/launched_sims.ts
  ui/core/proto_utils/utils.ts
  ui/index.html
  ui/raid/presets.ts
  ui/tank_rogue/apls/mutilate.apl.json
  ui/tank_rogue/apls/mutilate_IEA.apl.json
  ui/tank_rogue/gear_sets/blank.gear.json
  ui/tank_rogue/gear_sets/p1_combat.gear.json
  ui/tank_rogue/gear_sets/p1_daggers.gear.json
  ui/tank_rogue/gear_sets/p2_daggers.gear.json
  ui/tank_rogue/index.ts
  ui/tank_rogue/presets.ts
  ui/tank_rogue/sim.ts
Labels: Rogue

#439 Mage: Add mana gem cooldowns
  sim/mage/TestArcane.results
  sim/mage/TestFire.results
  sim/mage/TestFrostFire.results
  sim/mage/evocation.go
  sim/mage/mage.go
  sim/mage/mana_gem.go
Labels: Mage

#469 Warlock updates on multipliers, dot crits and add immo aura
  sim/warlock/conflagrate.go
  sim/warlock/corruption.go
  sim/warlock/curses.go
  sim/warlock/dps/TestDestruction.results
  sim/warlock/immolate.go
  sim/warlock/immolation_aura.go
  sim/warlock/runes.go
  sim/warlock/siphon_life.go
  sim/warlock/warlock.go
  ui/core/components/detailed_results/timeline.tsx
  ui/scss/core/components/detailed_results/_timeline.scss
Labels: Warlock

#475 Ele phase 3 tweaks
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  ui/elemental_shaman/apls/phase_3.apl.json
  ui/elemental_shaman/presets.ts
Labels: Shaman

#460 More poison fixes
  sim/core/spell_school_test.go
  sim/mage/ignite.go
  sim/mage/living_bomb.go
  sim/mage/living_flame.go
  sim/rogue/dps_rogue/TestAssassination.results
  sim/rogue/dps_rogue/TestCombat.results
  sim/rogue/envenom.go
  sim/rogue/mutilate.go
  sim/rogue/poisoned_knife.go
  sim/rogue/poisons.go
  sim/rogue/rogue.go
  sim/rogue/saber_slash.go
  sim/rogue/shiv.go
  ui/core/proto_utils/action_id.ts
Labels: Rogue

#504 Druid: fix elune's fires variable name and hide dreamstate base proc aura
  sim/druid/runes.go
Labels: Druid

#503 Mage: Remove extra POM cast condition
  sim/mage/TestArcane.results
  sim/mage/talents.go
Labels: Mage

#496 Carnage
  proto/rogue.proto
  sim/core/debuffs.go
  sim/core/flags.go
  sim/core/spell_outcome.go
  sim/core/spell_resistances.go
  sim/core/spell_result.go
  sim/core/stats/stats.go
  sim/core/target.go
  sim/core/unit.go
  sim/encounters/gnomeregan.go
  sim/rogue/ambush.go
  sim/rogue/backstab.go
  sim/rogue/between_the_eyes.go
  sim/rogue/carnage.go
  sim/rogue/envenom.go
  sim/rogue/eviscerate.go
  sim/rogue/expose_armor.go
  sim/rogue/garrote.go
  sim/rogue/ghostly_strike.go
  sim/rogue/hemorrhage.go
  sim/rogue/main_gauche.go
  sim/rogue/mutilate.go
  sim/rogue/poisoned_knife.go
  sim/rogue/poisons.go
  sim/rogue/quick_draw.go
  sim/rogue/rogue.go
  sim/rogue/runes.go
  sim/rogue/rupture.go
  sim/rogue/saber_slash.go
  sim/rogue/shadowstrike.go
  sim/rogue/shiv.go
  sim/rogue/shuriken_toss.go
  sim/rogue/sinister_strike.go
  sim/rogue/slice_and_dice.go
  sim/shaman/shaman.go
  sim/warlock/_drain_soul.go
  sim/warlock/corruption.go
  sim/warlock/curses.go
  sim/warlock/drain_life.go
  sim/warlock/haunt.go
  sim/warlock/siphon_life.go
  sim/warlock/unstable_affliction.go
  sim/warlock/warlock.go
  tools/database/rune_overrides.go
Labels: Rogue

#517 Warrior Stuff
  sim/core/spell.go
  sim/warrior/rampage.go
  sim/warrior/runes.go
  sim/warrior/shield_slam.go
  sim/warrior/sunder_armor.go
  sim/warrior/talents.go
  sim/warrior/warrior.go
Labels: Warrior

#526 Rogue: Add DefenseType to Hemorrhage
  sim/rogue/hemorrhage.go
Labels: bug, Rogue

#525 Shaman: Code cleanup and several fixes
  sim/hunter/frost_trap.go
  sim/hunter/runes.go
  sim/shaman/chain_heal.go
  sim/shaman/electric_spell.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/fire_nova.go
  sim/shaman/healing_wave.go
  sim/shaman/lava_burst.go
  sim/shaman/lesser_healing_wave.go
  sim/shaman/molten_blast.go
  sim/shaman/rockbiter_weapon.go
  sim/shaman/shaman.go
  sim/shaman/shocks.go
  sim/shaman/talents.go
Labels: Shaman

#530 Shaman: Fix RBW AP multiplier
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/rockbiter_weapon.go
Labels: bug, Shaman

#527 Rogue: Head rune cleanup
  sim/rogue/runes.go
Labels: Rogue

#523 Implementation of Raptor Fury rune for hunter
  assets/database/db.json
  proto/hunter.proto
  sim/hunter/hunter.go
  sim/hunter/raptor_strike.go
  sim/hunter/runes.go
  tools/database/rune_overrides.go
Labels: Hunter

#508 Implemented Hunter Focus Fire Rune
  assets/database/db.json
  proto/hunter.proto
  sim/hunter/focus_fire.go
  sim/hunter/hunter.go
  sim/hunter/runes.go
  tools/database/rune_overrides.go
Labels: Hunter
