Repository wowsims/sod, pull requests merged in 2024-04, with the labels that each got.

#540 Balance Druid: Update Phase 3 Presets
  sim/core/test_utils.go
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance_test.go
  sim/druid/feral/TestFeral.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  ui/balance_druid/apls/phase_3.apl.json
  ui/balance_druid/gear_sets/phase_3.gear.json
  ui/balance_druid/presets.ts
  ui/balance_druid/sim.ts
Labels: Druid

#543 Balance Druid: Remove extra code causing starfire to extend sunfire
  sim/druid/balance/TestBalance.results
  sim/druid/runes.go
Labels: bug, Druid

#561 Shaman: Shaman updates phase 3
  proto/shaman.proto
  sim/shaman/elemental/TestElemental.results
  sim/shaman/lightning_bolt.go
  sim/shaman/runes.go
Labels: Shaman

#555 Feral Druid: Replace feral Latency field with Reaction Time
  ui/feral_druid/sim.ts
Labels: Druid

#576 P3 rogue apl
  ui/rogue/apls/Mutilate_DPS_50.apl.json
  ui/rogue/apls/Mutilate_IEA_50.apl.json
  ui/rogue/apls/Saber_DPS_50.apl.json
  ui/rogue/apls/Saber_IEA_50.apl.json
  ui/rogue/gear_sets/p3_muti.gear.json
  ui/rogue/gear_sets/p3_saber.gear.json
  ui/rogue/presets.ts
  ui/rogue/sim.ts
Labels: Rogue

#607 Druid: Show mangle for Feral
  ui/feral_druid/sim.ts
Labels: Druid

#653 Add clearer min level requirement error
  sim/core/debuffs.go
  ui/core/constants/tooltips.ts
  ui/core/individual_sim_ui.ts
Labels: bug

#652 Implemented TNT rune for hunters
  assets/database/db.json
  proto/hunter.proto
  sim/hunter/explosive_shot.go
  sim/hunter/explosive_trap.go
  sim/hunter/immolation_trap.go
  sim/hunter/runes.go
  tools/database/rune_overrides.go
Labels: Hunter

#662 Update Focused Attacks to 3 Energy
  sim/rogue/runes.go
Labels: Rogue

#671 Mage: Fix ignite damage scaling
  sim/mage/TestFire.results
  sim/mage/TestFrost.results
  sim/mage/TestFrostFire.results
  sim/mage/ignite.go
  sim/mage/talents.go
Labels: Mage

#725 Shaman: Fix chain heal out of bounds error
  sim/shaman/chain_heal.go
Labels: Shaman

#711 Paladin Overhaul
  sim/core/spell_result.go
  sim/druid/shred.go
  sim/paladin/apl_values.go
  sim/paladin/consecration.go
  sim/paladin/crusader_strike.go
  sim/paladin/divine_favor.go
  sim/paladin/divine_storm.go
  sim/paladin/exorcism.go
  sim/paladin/hammer_of_wrath.go
  sim/paladin/holy_shock.go
  sim/paladin/holy_wrath.go
  sim/paladin/item_sets.go
  sim/paladin/judgement.go
  sim/paladin/paladin.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/TestShockadin.results
  sim/paladin/retribution/retribution.go
  sim/paladin/runes.go
  sim/paladin/soc.go
  sim/paladin/som.go
  sim/paladin/sor.go
  sim/paladin/sotc.go
  sim/paladin/talents.go
Labels: Paladin
